<ion-view data-comp-id="ionic-view.1">
    <ion-nav-bar align-title="" class="bar-stable" data-comp-id="nav-bar.1">
        <ion-nav-buttons side="left">
            <button class="button button-icon ion-navicon" data-comp-id="button.1"></button>
        </ion-nav-buttons>
        <ion-nav-title data-comp-id="nav-title.1">
            Untitled Screen
        </ion-nav-title>
        <ion-nav-buttons side="right">
            <button class="button button-icon ion-home" data-comp-id="button.2"></button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content data-comp-id="ionic-content.1">
        <div data-comp-id="div.1">
            <label class="item item-input" data-comp-id="textInput.1">
                <span class="input-label">processname</span>
                <input type="text">
            </label>
            <label class="item item-input" data-comp-id="textInput.2">
                <span class="input-label">activityname</span>
                <input type="text">
            </label>
            <div data-comp-id="div.2">
                <label class="item item-input" data-comp-id="textInput.3">
                    <span class="input-label">processnumber</span>
                    <input type="text">
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>